<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731877367346-r2vlhc3aopjlj3miu1g32n2pr0quotln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731877367346-r2vlhc3aopjlj3miu1g32n2pr0quotln</string>
	<key>API_KEY</key>
	<string>AIzaSyCgC5LrjU23eFv6qumMYjJr_2NqNVX_KN0</string>
	<key>GCM_SENDER_ID</key>
	<string>731877367346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.machelbaev.neighbours.moscow</string>
	<key>PROJECT_ID</key>
	<string>msk-neighbors</string>
	<key>STORAGE_BUCKET</key>
	<string>msk-neighbors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731877367346:ios:cda5dcea3d8e453be5e62b</string>
</dict>
</plist>